# CACHE
**/.DS_Store
**/__pycache__
**/.ruff_cache

# DATA
**/.data
**/.volumes
**/static
**/staticfiles
**/**.sql

# GIT
**/.git

# IDE
**/.vs
**/.vscode
**/.idea

# ENV
**/.venv
**/.env*
!.env.example

# TESTS
**/.pytest_cache
**/.coverage